# filename: conf/admin/inventory/checkin.cfg
# path: /admin/inventory/checkin

############################################################
##
## 
##
############################################################

# Includes

# Html elements
#include conf/elements/html-basic.cfg
#include conf/elements/html-bootstrap-panel.cfg

include elements/bootstrap4/tags.cfg
include elements/bootstrap4/form.cfg

# Database settings
include conf/settings/db.cfg

# Vars

# Page name
view_name: &view_name "Inventory : Check-in"

# View
view: &view
	content:
		-	
			value: |
				<style>
					.img-option {
						height: 91px;;
						width: 91px;
					}
					.thb-option {
						height: 105px;;
						width: 105px;
					}
						
				</style>
		-
			**h3
			value: Check-in Inventory
			class: page-header			
		-
			**form
			name: inventory
			class: row
			content:
				-
					**col6
					content:
					
						-
							**dropdown
							id: vendor
							name: vendor
							label: Vendor
							required:
							size: lg
							
							# Handle Data
							process:
								-
									# Fetch options data
									**select
									reader: dict
									sql: |
										SELECT id, name, photo
										FROM `vendor`
										WHERE status = 'active'
										ORDER BY name
									result:
										store: vendors					
								-
									# Format options data for imagepicker
									**loop
									key: i
									data:
										value: '{{vendors}}'
									subprocess:
										**if
										expression: '{{exists(i:photo)}}'
										true:
											**dataObjCreate
											data:
												value: '[[{{i:id}}, "{{i:name}}", {"data-img-src": "/{{i:photo}}", "data-sku": "{{i:sku}}", "data-thb-class": "thb-option", "data-img-class": "img-option"}]]'
												format: list
												store: vendors_select
												merge: true										
										false:
											**dataObjCreate
											data:
												value: '[[{{i:id}}, "{{i:name}}", {"data-img-src": "https://via.placeholder.com/91x91.png/666666/FFFFFF?text={{i:name:0}}", "data-sku": "{{i:sku}}", "data-thb-class": "thb-option", "data-img-class": "img-option"}]]'
												format: list
												store: vendors_select
												merge: true										
										
									
							# Add a blank option
							values:
								- ''
							
							# Add options from database
							valuesObj: vendors_select

						-
							**script
							value: |
								$("#vendor").imagepicker({
									show_label: false,
									hide_select: false,
								})
								
								$( "#product" ).change(function() {
									$("#batch").html($('option:selected', this).attr('data-sku')+$("#date").val());
									//thing = $('option:selected', this).html();
									
								});							
				-
					**col6
					content:
						-
							**textbox
							name: date
							label: Received Date
							size: lg
							required:
							value: '{{date()}}'
							attributes:
								placeholder: mmdd

							format: "%y-%m-%d"
						-
							**textbox
							name: ref
							label: Invoice No.
							size: lg
							required:			
				-
					wrap: |
						<nav class="navbar fixed-bottom navbar-dark bg-light">
						  |
						</nav>
					content:
						-
							value: |
								<a class="btn btn-success btn-lg" href="/admin/dashboard">Menu</a>						
						-
							value: |
								<a class="btn btn-primary btn-lg" href="/admin/dashboard">Cancel</a>

						-
							**button
							name: Check in Items
							class: "mr-2"
							size: lg
							color: success
							wrap: |
								<div class="btn-group {{outerclass}}" style="{{outerstyle}}">
									|
								</div>
					

					
			postprocess:
				-
					**sessionCache
					cache:
						vendor: '{{post:vendor}}'
						rec_date: '{{html_escape(post:date)}}'
						ref: '{{html_escape(post:ref)}}'
						
				-
					**redirect
					url: '/admin/inventory/checkin/item'

include conf/admin/template_fullscreen.cfg