# filename: conf/admin/inventory/create.cfg
# path: /admin/inventory/create

############################################################
##
## 
##
############################################################

# Includes

# Html elements
#include conf/elements/html-basic.cfg
#include conf/elements/html-bootstrap-panel.cfg

include elements/bootstrap4/tags.cfg
include elements/bootstrap4/form.cfg

# Database settings
include conf/settings/db.cfg

# Vars

# Page name
view_name: &view_name "Inventory : Create"

# View
view: &view
	content:
		-	
			value: |
				<style>
					.img-option {
						height: 91px;;
						width: 91px;
					}
					.thb-option {
						height: 105px;;
						width: 105px;
					}
						
				</style>
		-
			**h3
			value: Check In Inventory
			class: page-header			
		-
			**form
			name: inventory
			class: row
			content:
				-
					**col6
					content:
						-
							**dropdown
							id: ingredient
							name: ingredient
							label: Item
							required:
							size: lg
							
							# Handle Data
							process:
								-
									# Fetch options data
									debug: true
									**select
									reader: dict
									sql: |
										SELECT id, name, abv, inunit, photo
										FROM `ingredient`
										WHERE status = 'active'
										ORDER BY name
									result:
										store: ingredients
								-
									# Format options data for imagepicker
									**loop
									key: i
									data:
										value: '{{ingredients}}'
									subprocess:
									
										**if
										expression: '{{exists(i:photo)}}'
										true:
											**dataObjCreate
											data:
												value: '[[{{i:id}}, "{{i:name}}", {"data-img-src": "/{{i:photo}}", "data-thb-class": "thb-option", "data-img-class": "img-option", "data-inunit": "{{i:inunit}}"}]]'
												format: list
												store: ingredients_select
												merge: true									
										false:
											**dataObjCreate
											data:
												value: '[[{{i:id}}, "{{i:name}}", {"data-img-src": "https://via.placeholder.com/91x91.png/666666/FFFFFF?text={{i:abv}}", "data-thb-class": "thb-option", "data-img-class": "img-option", "data-inunit": "{{i:inunit}}"}]]'
												format: list
												store: ingredients_select
												merge: true									
									

										
							
							# Add a blank option
							values:
								- ''
							
							# Add options from database
							valuesObj: ingredients_select

						-
							**script
							value: |
							
								var thing = ""
							
								$("#ingredient").imagepicker({
									show_label: false,
									hide_select: false,
								})
								
								$( "#ingredient" ).change(function() {
									$("#unit").val($('option:selected', this).attr('data-inunit'));
									thing = $('option:selected', this).html();
									
								});

								$( "#ingredient").change(function() {
								
									//var msg = "Adding "+$("#qty").val()+" "+$("#unit").val()+" of "+thing
								
									//$("#display").html(msg);
									
									//$("#qty_display").html($("#qty").val());
									//$("#unit_display").html($("#unit").val());
									//$("#description_display").html(thing);
								});


				-
					**col6
					#class: row
					content:
						-
							**col12
							class: row
							content:							
								-
									**dropdown
									name: vendor
									id: vendor
									label: Vendor
									size: lg
									outerclass: 'col-sm-4'
									value: '{{session:vendor}}'
									valuesObj: vendors
									
									process:
										debug: true
										**select
										sql: |
											SELECT id, name
											FROM vendor
											WHERE status = 'active'
											ORDER BY name
										reader: list
										result:
											store: vendors										
									
								-
									**textbox
									name: ref
									label: PO Number
									required:
									size: lg
									outerclass: 'col-sm-4'
									value: '{{session:ref}}'
								-
									**textbox
									name: code
									label: Received Date
									size: lg
									required:
									outerclass: 'col-sm-4'
									value: '{{session:rec_date}}'
									attributes:
										placeholder: yy-mm-dd

								-
									**number
									name: qty
									label: Quantity
									required:
									size: lg
									outerclass: 'col-sm-3'
									value: 1
								-
									**number
									name: pack
									label: Pack
									required:
									size: lg
									outerclass: 'col-sm-3'
									value: 1
								-
									**number
									name: size
									label: Size
									required:
									size: lg
									outerclass: 'col-sm-3'
									value: 1									
								-
									**textbox
									name: unit
									label: Unit
									size: lg
									required:
									outerclass: 'col-sm-3'



				-
					wrap: |
						<nav class="navbar fixed-bottom navbar-dark bg-light">
						  |
						</nav>
					content:
						-
							value: |
								<a class="btn btn-success btn-lg" href="/admin/dashboard">Menu</a>						
						-
							value: |
								<a class="btn btn-primary btn-lg" href="/admin/dashboard">Done</a>

						-
							**button
							name: Check-in Items
							class: "mr-2"
							size: lg
							color: primary
							wrap: |
								<div class="btn-group {{outerclass}}" style="{{outerstyle}}">
									|
								</div>
					

			postprocess:
				-
					**insert
					sql: |
						INSERT INTO `inventory`
							(
								ingredient,
								vendor,
								code,
								ref,
								qty,
								pack,
								size,
								unit,
								status,
								user,
								createdate
								
							) 
								VALUES 
							(
								'{{html_escape(post:ingredient)}}',
								{{post:vendor}},
								'{{html_escape(post:code)}}',
								'{{html_escape(post:ref)}}',
								{{post:qty}},
								{{post:pack}},
								{{post:size}},
								'{{html_escape(post:unit)}}',
								'in',
								{{session:user:id}},
								NOW()
							)
					cache_id: ingredientid
				-
					**sessionCache
					cache:
						code: '{{html_escape(post:code)}}'
						ref: '{{html_escape(post:ref)}}'
						
				-
					**redirect
					url: '/admin/inventory/checkin/item'

include conf/admin/template_fullscreen.cfg