# filename: conf/admin/inventory/create.cfg
# path: /admin/inventory/create

############################################################
##
## 
##
############################################################

# Includes

# Html elements
#include conf/elements/html-basic.cfg
#include conf/elements/html-bootstrap-panel.cfg

include elements/bootstrap4/tags.cfg
include elements/bootstrap4/form.cfg

# Database settings
include conf/settings/db.cfg

# Vars

# Page name
view_name: &view_name "Inventory : Create"

# View
view: &view
	content:
		-	
			value: |
				<a class="btn btn-default pull-right" href="/admin/inventory/list">Cancel</a>
				<style>
					.img-option {
						height: 100px;;
						width: 100px;
					}
					.thb-option {
						height: 120px;;
						width: 120x;
					}
						
				</style>
		-
			**h3
			value: Check In Inventory
			class: page-header			
		-
			**form
			name: inventory
			class: row
			content:
				-
					**col6
					content:
						-
							**dropdown
							id: item
							name: item
							label: Item
							required:
							
							# Handle Data
							process:
								-
									# Fetch options data
									**select
									reader: dict
									sql: |
										SELECT id, name, inunit, photo
										FROM `ingredient`
										WHERE status = 'active'
										ORDER BY name
									result:
										store: ingredients
								-
									# Format options data for imagepicker
									**loop
									key: i
									data:
										value: '{{ingredients_tmp}}'
									subprocess:
										**dataObjCreate
										data:
											value: '[[{{i:id}}, "{{i:name}}", {"data-img-src": "/{{i:photo}}", "data-thb-class": "thb-option", "data-img-class": "img-option", "data-inunit": "{{i:inunit}}"}]]'
											format: list
											store: ingredients_select
											merge: true
										
							
							# Add a blank option
							values:
								- ''
							
							# Add options from database
							valuesObj: ingredients_select
							
						-
							**script
							value: |
								var thing = ""
							
								$("#item").imagepicker({
									show_label: false,
									hide_select: false,
								})
								
								$( "#item" ).change(function() {
									$("#unit").val($('option:selected', this).attr('data-inunit'));
									thing = $('option:selected', this).html();
									
								});

								$( "#inventory").change(function() {
								
									//var msg = "Adding "+$("#qty").val()+" "+$("#unit").val()+" of "+thing
								
									//$("#display").html(msg);
									
									//$("#qty_display").html($("#qty").val());
									//$("#unit_display").html($("#unit").val());
									//$("#description_display").html(thing);
								});


				-
					**col6
					#class: row
					content:
						-
							**row
							#class: row
							content:

								-
									#**textbox
									**number
									name: qty
									label: Quantity
									required:
									size: lg
									#class: 'input-lg'
									#width: 6
									value: 1
								#	#attributes:
								#	#	type: number
								-
									**textbox
									name: unit
									label: Unit
									size: lg
									required:
									#class: 'input-lg'
									#width: 6
									#attributes:
									#	disabled: 
						#-
						#	**h4
						#	id: display
						#	value: |
						#		TBD
						#-
						#	value: |
						#		<table class="table table-bordered">
						#			<tr class="">
						#				<td>QTY</td>
						#				<td>UNIT</td>
						#				<td>DESCRIPTION</td>
						#			</tr>
						#			<tr>
						#				<td id="qty_display">&nbsp;</td>
						#				<td id="unit_display"></td>
						#				<td id="description_display"></td>
						#			</tr>
						#		</table>								
						-
							**button
							name: Submit
							class: "pull-right"
							size: lg
							color: primary
							#attributes:
							#	disabled:
							

			postprocess:
				-
					**insert
					sql: |
						INSERT INTO `ingredient`
							(
								name,
								#upc,
								status,
								user,
								createdate
								
							) 
								VALUES 
							(
								'{{html_escape(post:name)}}',
								#'{{html_escape(post:upc)}}',
								'{{post:status}}',
								{{session:user:id}},
								NOW()
							)
					cache_id: ingredientid					
				-
					**redirect
					url: '/admin/ingredient/list'

include conf/admin/template_private.cfg