# filename: conf/admin/management/role/create.cfg
# path: /admin/management/role/create

############################################################
##
## Management : Role : Create
##
############################################################

# Includes

# Html elements
include conf/elements/html-basic.cfg
include conf/elements/html-bootstrap-panel.cfg
include conf/elements/html-datatables.cfg
include conf/elements/html-form.cfg

# Database settings
include conf/settings/db.cfg

# Vars

# Page name
view_name: &view_name "Management : Role : Create"

# View
view: &view
	content:
		# Display a Header
		-
			**h3
			value: *view_name
			class: page-header
			
		# Place a bootstrap panel on the page	
		-
			**panel
			title: Create Role
			right: |
				<a class="btn btn-sm btn-default" href="/admin/management/role/list">Cancel</a>				
			content:
			
				# Place a form in the panel
				
				# Form element			
				**form
				name: role
				
				# Form fields
				content:
					-
						**textbox
						name: name
						label: Role Name
						required:
						attributes:
							placeholder: Role Name							
					-
						**dropdown
						name: status
						values:
							- active
							- paused
							- stopped
						value: active
					-
						**button
						name: Create
						class: "pull-right"
				
				# Form Processing
				postprocess:
				
					# save record 
					**insert
					sql: |
						INSERT INTO `role`
							(
								name,
								status
								
							) 
								VALUES 
							(
								'{{html_escape(post:name)}}',
								'{{html_escape(post:status)}}'
							)
						
					true:
						**redirect
						url: '/admin/management/role/list'

include conf/admin/template_private.cfg