# filename: conf/public/contact.cfg
# path: /public/contact

############################################################
##
## Public : Contact
##
############################################################

# Includes

# Html elements
include conf/elements/html-basic.cfg
include conf/elements/html-bootstrap-panel.cfg
include conf/elements/html-datatables.cfg
include conf/elements/html-form.cfg

# Database settings
#include conf/settings/db.cfg

# Page name
view_name: &view_name "Form Test"

# View
view: &view
	content:
		-
			**form
			name: test
			content:
				-
					**textbox
					name: field1
					label: Field 1
					required:
				-
					**checkbox
					name: field2
					label: Field 2
				-
					**button
					name: Submit
					
		-
			**form
			name: test2
			content:
				-
					**textbox
					name: field1
					label: Field 1
					required:
					validators:
						- web.form.regexp('d+', 'You did not enter a number')
				-
					**dropdown
					name: field1-1
					label: Field 1.1
					value: b
					values:
						- a
						- b
						- c					
				-
					**checkbox
					name: field2
					label: Field 2
					text: option 1
					required:
					
				-
					**radio
					name: field3
					label: Field 3
					value: c
					values:
						- a
						- b
						- c
				-
					**button
					name: Submit
									
				
include conf/template_public.cfg